.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  position: relative;
}
.inputContainer {
  display: flex;
  width: 60%;
  position: relative;
  height: 100px; /* Ajustar a altura automaticamente */
}

.chatInput {
  flex: 1;
  height: auto; /* Ajustar a altura automaticamente */
  max-height: 300px; /* Limitar a altura máxima */
  padding: 1rem;
  margin-top: 10px;
  border-radius: 1rem;
  border: none; /* Remover borda */
  outline: none; /* Remover borda no focus */
  resize: none; /* Remover a capacidade de redimensionar */
  overflow-y: auto; /* Adicionar rolagem vertical */
  word-wrap: break-word; /* Quebrar linha ao atingir 50% */
  width: 100%; /* Garantir que a largura seja 100% */
  white-space: pre-wrap; /* Quebrar linha ao atingir 50% */
  font-size: 1.5rem;
  background-color: #202020; /* Cor de fundo branca */
}

.chatInput:focus {
  border: none; /* Remover borda no focus */
  outline: none; /* Remover borda no focus */
}

.chatInput:hover {
  border: none; /* Remover borda no hover */
  outline: none; /* Remover borda no hover */
}

.chatButton {
  width: 30px; /* Ajustar o tamanho do botão */
  height: 30px; /* Ajustar a altura do botão */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Adicionar margem superior */
  margin-right: 10px; /* Adicionar margem à esquerda */
  border: none;
  border-radius: 50%; /* Tornar o botão circular */
  background-color: #ffffff; /* Cor de fundo branca */
  color: #000000; /* Cor do ícone preta */
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 10px; /* Posicionar no canto inferior direito */
}

.chatButton:hover {
  background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.recordButton {
  width: 30px; /* Ajustar o tamanho do botão */
  height: 30px; /* Ajustar a altura do botão */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Adicionar margem superior */
  border: none;
  border-radius: 50%; /* Tornar o botão circular */
  background-color: #ffffff; /* Cor de fundo branca */
  color: #000000; /* Cor do ícone preta */
  cursor: pointer;
  position: absolute;
  right: 50px; /* Posicionar ao lado esquerdo do botão de enviar */
  bottom: 10px; /* Posicionar no canto inferior direito */
}

.recordButton:hover {
  background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

@media (max-width: 768px) {
  .inputContainer {
    width: 90%;
  }

  .chatInput {
    font-size: 1rem;
  }

  .chatButton,
  .recordButton {
    width: 25px;
    height: 25px;
  }
}
