.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: #1a1a1a; /* Fundo escuro */
  margin: 0; /* Remover margens */
  padding: 0; /* Remover preenchimento */
}

.sidebarToggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar {
  width: 0;
  transition: width 0.3s ease;
  background-color: #2a2a2a;
  overflow: hidden;
}

.sidebar.open {
  width: 20vw;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; /* Centralizar o texto */
  width: 100vw; /* Garantir que a largura seja 100% */
  transition: width 0.3s ease;
}

.homeContainer.shrink {
  width: 80vw;
}

.title {
  font-size: 2rem;
  color: #f0f0f0;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .homeContainer {
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
